# Core
fastapi
uvicorn
pydantic
pandas
python-multipart
python-dotenv

# PDF & Documents
pdfplumber
pypdfium2
PyMuPDF
reportlab
python-docx
openpyxl

# OCR léger avec Tesseract
pytesseract
pillow

# Utils
numpy
lxml
requests
